:host {
  background-color: white;
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.item-description {
  font-style: italic;
  color: gray;
}

.item-content {
  border: 1px solid gray;
  box-shadow: 1px 1px 5px gray;
  border-radius: 2px;
}

.existing-message {
  text-align: center;
  font-size: 20px;
}
