:host{
  background-color: #69f0ae;
}

.edit-header {
  text-align: center;
  font-size: 20px;
}

.form {
  display: flex;
  margin: 5vh 5vw;
  background-color: #4242429f;
  border-radius: 2px;
  padding: 10px;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.field {
  display: flex;
  align-items: flex-start;
}

.field-title {
  display: inline-block;
  padding-right: 20px;
  min-width: 150px;
}

.field-content {
  flex-grow: 1;
}
